.mat-card {
    width: 240px;
    // img {
    //     width: 200px
    // }
}

.note-container {
    .title {
        font-size: 20px;
    }

    .lists {
        .flex {
            align-items: center;
            font-size: 14px;
            .text {
                margin-left: 8px;
                word-wrap: break-word;
            }
        }
    }

}